@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white !important;

  background: none !important;
}
.active:hover{
  color: #F05D23  !important;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color:#F3F4F6;
}